.homePage-section{
    width: 100%;
}

.homePage-section .container{
    height: 89vh;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homePage-section .container h3{
    font-size: 26px;
    font-variant: small-caps;
}
.container-home{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-imgs{
    width: 700px;
}
.home-imgs img {
    width: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.container-home h3{
    font-size: 4rem;
    font-variant: small-caps;
}

@media screen and (max-width:768px) {
    .container-home h3{
        font-size: 2rem;
        font-variant: small-caps;
    }
    .home-imgs{
        width: 100%;
    }
}