.tna-section {
    width: 100%;
}

.tna-section .container {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tna-section .container .heading {
    width: 100%;
    text-align: center;
}

.tna-section .container .heading span {
    font-size: 25px;
    font-weight: 700;
}

.tna-section .container .main-detail {
    width: 100%;
}

.tna-section .container .main-detail .table-parent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tna-section .container .main-detail .table-parent .table-wrapper {
    /* width: 100%; */
    overflow-x: auto; 
    max-height: 400px; 
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.tna-section .container .main-detail .table-parent table {
    width: 100%;
}

.tna-section .container .main-detail .table-parent table,
.tna-section .container .main-detail .table-parent th,
.tna-section .container .main-detail .table-parent td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 8px;
    white-space: nowrap;
    text-align: center;
}

.tna-section .container .main-detail .table-parent th,
.tna-section .container .main-detail .table-parent td {
    padding: 5px 8px;
    width: 100%;
}

.tna-section .container .main-detail .table-parent td {
    color: rgb(103, 103, 103);
}

.tna-section .container .main-detail .table-parent td select{
    /* width: 100%;
    height: 100%; */
}