.login-section{
    width: 100%;
}

.login-section .container{
    width: 100%;
    /* padding: 10px 40px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 80vh;
}

.login-section .container .heading{
    text-align: center;
    width: 100%;
}

.login-section .container .heading span{
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ED7042;
}

.login-section .container .main-container{
    width: 50%;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 3rem;
    gap: 20px;

    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
/* backdrop-filter: blur( 0px );
-webkit-backdrop-filter: blur( 0px ); */
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.login-section .container .main-container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;  
}
.msg{
    width: 50%;
}

.login-section .container .main-container form .same-field{
    width: 100%;
    height: 40px;
    
}

.login-section .container .main-container form .same-field input{
    width: 100%;
    height: 100%;
    outline: none;
    border: 1px solid rgb(119, 119, 119);
    padding: 0px 10px;
}

.login-section .container .main-container form .same-field select{
    width: 100%;
    height: 100%;
}

.login-section .container .main-container form button{
    background-color: #ED7042;
    border: none;
    color: white;
    height: 40px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

@media (max-width:760px) {

    .login-section .container .main-container{
        width: 80%;
    }
    .msg{
        width: 100%;
    }

    .login-section .container .main-container form{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;  
    }
    
}

@media (max-width:500px) {

    .login-section .container .main-container{
        width: 92%;
    }
    
    .login-section .container .main-container{
      
        background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: none;
    -webkit-backdrop-filter:none;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    
}